table {
    /* styling */
    border: 2px solid #ccc;
    border-radius: 4px;
    border-spacing: 5px;

    /* sizing */
    display: block;
    position: relative;
    overflow-y: scroll;

    max-height: 55vh;
    min-height: 300px;

    /* positioning */
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 5px;
    min-width: 350px;
    background-color: #fff;
}

th {
    position: sticky;
    height: 40px;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

td {
    height: 100px;
}

th.name, td.name {
    min-width: inherit;
}


